!!! 5
html
    head
        title Kitten Booking System
        link(rel="stylesheet", type="text/css", href="scripts/external/jquery/themes/ui-lightness/jquery-ui-1.8.16.custom.css")
    body
        #content
        script(src="scripts/external/jquery/jquery-1.7.1.js")
        script(src="scripts/external/jquery/jquery-ui.js") 
        script(src="scripts/views/View.js")
        script(src="scripts/views/Autocompleter.js")
        script(src="scripts/context.js")