!!! 5
html
    head
        title Kitten Booking System
        link(rel="stylesheet", type="text/css", href="scripts/external/jquery/themes/ui-lightness/jquery-ui-1.8.16.custom.css")
    body
        #content
        -each script in scripts
            script(type='text/javascript', src=script)