!!! 5
html
    head
        title JSLitmus
        script(type='text/javascript', src="scripts/external/JSLitmus/JSLitmus.js")
    body
        #content
        script(type='text/javascript', src="scripts/internal/litmus/litmus.js")