!!! 5
html
    head
        title Require
        script(type='text/javascript', src="scripts/internal/extentions/Require.js")
        script(type='text/javascript', src="scripts/internal/extentions/require-playground.js")
    body
        #content
        script(type='text/javascript', src="scripts/internal/extentions/requires/A.js")
        script(type='text/javascript', src="scripts/internal/extentions/requires/A/B.js")
        script(type='text/javascript', src="scripts/internal/extentions/requires/C.js")
        