!!! 5
html
    head
        title Require
        script(type='text/javascript', src="scripts/internal/extentions/Require.js")
        script(type='text/javascript', src="scripts/internal/extentions/requires/A.js")
    body
        #content